<div class="va-outer">
  <div id="auth" class="va-inner">
    <img src="assets/images/boma-logo.svg" id="brand" alt="Boma logo">
    <form {{action 'resetPassword' on='submit'}}>
      <h2>Reset Password</h2>
      <p>Enter your new password to continue</p>
      {{#if this.errors}}
        <div class="alert alert-danger">
          {{#each this.errors as |error|}}
            {{error}}
          {{/each}}
        </div>
      {{/if}}
      {{#if this.messages}}
        <div class="alert alert-danger">
          {{#each this.messages as |message|}}
            {{message}}
          {{/each}}
        </div>
      {{/if}}
      <Input id='identification' @type="hidden" @value={{this.token}} disabled={{this.is_disabled}} class="form-control" placeholder='Enter Login' />

      <div class="form-group">
        <Input id='password' @type="password" @value={{this.password}} class="form-control" placeholder='New Password'/>
      </div>
      <div class="form-group">
        <Input id='validatePassword' @type="password" @value={{this.validatePassword}} class="form-control" placeholder='Confirm Password'/>
      </div>
      {{#if this.isLoading}}
        <button class="boma-btn login add" type="submit" disabled>
          <FaIcon @icon="sign-in-alt"/>
          Loading...
        </button>
      {{else}}
        <button class="boma-btn login add" type="submit">
          <FaIcon @icon="sign-in-alt"/>
          Reset Password
        </button>
      {{/if}}
      <div class="auth-link">
        <LinkTo @route="login">Login</LinkTo></div>
    </form>
  </div>
</div>