<div class="va-outer">
  <div id="auth" class="va-inner">
    <img src="assets/images/boma-logo.svg" id="brand" alt="Boma logo">
    <form {{action 'forgotPassword' on='submit'}}>
      <h1>Forgotten <br>Password</h1>
      
      {{#if this.errors}}
        <div class="alert alert-danger">
          {{#each this.errors as |error|}}
            {{error}}
          {{/each}}
        </div>
      {{/if}}
      {{#if this.messages}}
        <div class="alert alert-danger">
          {{#each this.messages as |message|}}
            {{message}}
          {{/each}}
        </div>
      {{/if}}
      <p>Enter your email address to retrieve your password</p>
      <div class="form-group">
        <Input id='email' @type="text" @value={{this.email}} disabled={{this.is_disabled}} class="form-control" placeholder='Enter Login' autocorrect='off' autocomplete='off' autocapitalize='off' />

      </div>
      {{#if this.isLoading}}
        <button class="boma-btn login add" type="submit" disabled>
          <FaIcon @icon="sign-in-alt"/>
          Loading...
        </button>
      {{else}}
        <button class="boma-btn login add" type="submit">
          <FaIcon @icon="sign-in-alt"/>
          Reset Password
        </button>
      {{/if}}
      <div class="auth-link">
        <LinkTo @route="login">Login</LinkTo>
      </div>
    </form>
  </div>
</div>