<ApplicationHeader @current_user={{this.current_user}} @festival={{this.model.festival}} @organisation={{this.model.organisation}} @isLoading={{this.isLoading}} as |applicationHeader|>
  {{#unless this.newEvent}}
    <li>
      <button class="boma-btn add" type="button" {{action "addEvent"}}>
        <FaIcon @icon="plus-square"/>
        Add <br>Event
      </button>
    </li>
  {{/unless}}
  <li id="toggle-filters"><a {{action (action applicationHeader.toggleFilters)}}><FaIcon @icon="filter"/></a></li>
</ApplicationHeader>

<div class="container-fluid" id="main">
  <div id="filters">
    {{#if this.current_user.is_admin_or_super_admin}}
      {{filter-select 
        placeholder="filter by venue..."
        selected_id=this.venue_id
        selected=this.venue
        options=this.model.venues
        searchField="name_and_subtitle"
        refreshModel=(action "refreshModel")
      }}
    {{/if}}
    {{search-and-sort query=this.query refreshModel=(action "refreshModel")}}
  </div>
    <div class="events">
      {{#if this.newEvent}}
        <div id="new-event">
          {{event-edit 
            event=this.newEvent
            tags=this.model.tags  
            venues=this.model.venues  
            resetNewEvent=(action "resetNewEvent")
            refreshModel=(action "refreshModel")
            festival_id=this.model.festival.id
            festival=this.model.festival
            minDate=this.model.festival.start_date
            maxDate=this.model.festival.end_date
            current_user=this.current_user
          }}
        </div>
      {{/if}}
      {{#if this.model.events}}
        {{#each this.model.events as |event index|}}
          <SortOrder @index={{index}} @image_url={{event.image_thumb}} @columns={{if this.model.festival.require_production_images 5 1}} as |orderStyles|>
            {{event-edit 
              event=event 
              tags=this.model.tags 
              venues=this.model.venues 
              refreshModel=(action "refreshModel")
              festival_id=this.model.festival.id 
              festival=this.model.festival
              minDate=this.model.festival.start_date
              maxDate=this.model.festival.end_date
              imageStyle=orderStyles.imageStyle
              contentStyle=orderStyles.contentStyle
              setNumber=orderStyles.setNumber
              current_user=this.current_user
            }}
          </SortOrder>
        {{/each}}
      {{else}}
        {{#unless this.newEvent}}
          <div class="va-outer">
            <div class="va-inner">
              <h1>Create an event</h1><br>
              <button class="boma-btn add" type="button" {{action "addEvent"}}>
                <FaIcon @icon="plus-square"/>
                Add Event
              </button>
            </div>
          </div>
        {{/unless}}
      {{/if}}
    </div>
    {{infinity-loader infinityModel=this.model.events hideOnInfinity=true loadingText="Loading..." loadedText=""}}
</div>
