<div class="flash error">

</div>
<nav class="navbar navbar-inverse navbar-fixed-top" class="{{this.environment}}">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#if this.current_user}}   
        <LinkTo @route="organisations" class="navbar-brand">
          <img src="assets/images/boma-logo.svg" alt="Boma logo">
        </LinkTo>
      {{else}}
        <a class="navbar-brand">
          <img src="assets/images/boma-logo.svg" alt="Boma logo">
        </a>
      {{/if}}  
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        {{#if this.current_user}}        
          <li class="white">
            <LinkTo @route="festivals" @model={{this.model.organisation.id}}>{{this.model.organisation.name}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="organisation-articles" @model={{this.model.organisation.id}} @query={{hash article_type=""}}>Organisation <br> Articles</LinkTo>
          </li>
          {{#if this.model.organisation.community_articles_enabled}}
            <li> 
              {{#if this.current_user.is_admin_or_super_admin}} 
                <LinkTo @route="organisation-articles" @model={{this.model.organisation.id}} @query={{hash article_type="community_article"}}>Community <br>Articles</LinkTo>
              {{/if}}
            </li>
          {{/if}}
        {{else}}

        {{/if}}
      </ul>
    </div>
    <div id="header-right">
      <ul class="nav navbar-nav">
        {{#unless this.newArticle}}
          {{#if (not (eq this.article_type 'community_article'))}}
            <li>
              <button class="boma-btn add" type="button" {{action "addArticle"}}>
                <FaIcon @icon="plus-square"/>
                Add <br>Article
              </button>
            </li>
          {{/if}}
        {{/unless}}
        <li id="toggle-filters" {{action "toggleFilters"}}><a><FaIcon @icon="filter"/></a></li>
        <li><LinkTo @route="settings"><FaIcon @icon="cog"/></LinkTo></li>
      </ul>
    </div>
    {{#if this.isLoadingService.isLoading}}
      <div id="loading">
        <FaIcon @icon="cog"/>
      </div>
    {{/if}}    
  </div>
</nav>

<div class="container-fluid" id="main">
  <div id="filters">
    <div class="filter" id="article-state-filters">
      <LinkTo @route="organisation-articles" @model={{this.model.organisation.id}} @query={{hash aasm_state='published'}}>
        Published
      </LinkTo>  | 
      <LinkTo @route="organisation-articles" @model={{this.model.organisation.id}} @query={{hash aasm_state='draft'}}>
        Unpublished
      </LinkTo>  |  
      <LinkTo @route="organisation-articles" @model={{this.model.organisation.id}} @query={{hash aasm_state=''}}>
        All
      </LinkTo>
    </div>
    <div class="filter">
      <PowerSelect
        @options={{this.all_article_type}}
        @searchEnabled={{true}}
        @searchField="name"
        @selected={{this.selectedArticleType}}
        @onChange={{action "setArticleTypeFilter"}} as |at|>
        {{at.name}}
      </PowerSelect>
    </div>
    {{search-and-sort query=this.query refreshModel=(action "refreshModel")}}
  </div>
  <div class="articles">
    {{#if this.newArticle}}
      <div id="new-article">
        {{article-edit 
          article=this.newArticle
          resetNewArticle=(action "resetNewArticle")
          refreshModel=(action "refreshModel")
          all_tags=this.model.all_tags
          festival=this.model.festival
          all_article_types=this.all_article_type
        }}
      </div>
    {{/if}}
    {{#if this.model.articles}}
      {{#each this.model.articles as |article index|}}
        <SortOrder @index={{index}} @model={{article}} @image_url={{article.image_thumb}} as |orderStyles|>
          {{article-edit 
            article=article
            imageStyle=orderStyles.imageStyle
            contentStyle=orderStyles.contentStyle
            setNumber=orderStyles.setNumber
            refreshModel=(action "refreshModel")
            all_tags=this.model.all_tags
            organisation=this.model.organisation
            all_article_types=this.all_article_type
          }}
        </SortOrder>
      {{/each}}
    {{else}}
      {{#unless this.newArticle}}
        <div class="va-outer">
          <div class="va-inner">
            <h1>Create your first article</h1><br>
            <button class="boma-btn add" type="button" {{action "addArticle"}}>
              <FaIcon @icon="plus-square"/>
              Add Article
            </button>
          </div>
        </div>
      {{/unless}}
    {{/if}}
  </div>
  {{infinity-loader infinityModel=this.model.articles hideOnInfinity=true}}
</div>